# Maven
target/
*/target/
**/target/
dependency-reduced-pom.xml

# Python
.venv/

# Dependency directories
**/frida-devkit/

# IntelliJ IDEA
.idea/
*.iml

# OS specific
.DS_Store

# Native compilation artifacts (if any)
*.so
*.dylib
*.dll

# Logs
*.log

# Reference
frida-go